<% include ../partials/header %>

<div class="container my-5">
  <div class="row p-5">
    <div class="col-md-3">
      <ul class="list-group ">
          <a class="list-group-item list-group-item-action active" href="#">My List Item One</a>
          <a class="list-group-item list-group-item-action" href="#">My List Item Two</a>
          <a class="list-group-item list-group-item-action" href="#">My List Item Three</a>
      </ul>
    </div>
    <div class="col-md-9">
      <h1><%= campground.name%></h1>
      <img src="<%=campground.image%>" alt="">
      <p><%=campground.description%></p>
      <p>
        <a class="btn btn-primary" href="/campgrounds/<%= campground._id%>/comments/new">Add new comment</a>
      </p>
      <h3>Comments</h3>
      <%campground.comments.forEach(function(comment){%>
        <p><%= comment.text%> -<b><%= comment.author%></b> </p>
      <%})%>
    </div>
  </div>

</div>
  <% include ../partials/footer %>
